/*网页底部*/
/*底部导航*/
.foot_nav{
	clear: both;
}
.foot_list{
	width: 1200px;
	border-bottom: 1px solid #99A4BE;
	height:50px;
	margin: 50px auto;
	text-align: center;
}
.foot_list li{
	display: inline-block;
	list-style: none;

}
.foot_list li {
	text-align: center;
	padding: 0 10px;	
	border-right: 1px solid #99A4BE;
	
}
.foot_list li:last-child{
	border-right: none;
}
.foot_bottom {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #99A4BE;
	font-size: 15px;
	margin-bottom: 50px;
}